/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

.form-section {
  flex: 1 1 40%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form textarea {
  height: 100px;
}

.star-rating {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 10px;
}

.star {
  cursor: pointer;
}

.star.selected {
  color: orange;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.reviews-section {
  flex: 1 1 55%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.review-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: bold;
}

.rating {
  color: orange;
}

.email {
  margin-top: 10px;
  color: #666;
}

.review {
  margin-top: 10px;
}

.main_section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

